input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: #aab2bd;
	/* placeholder字体大小  */
	font-size: 12px;
	/* placeholder位置  */
	text-align: left;
}

/* 网站头背景 */
header {
	background-color: rgb(51, 51, 51);
}

footer {
	width: 100%;
	height: 125px;
	background-color: #ffffff;
}

/* 网站尾底对齐 */
/* 版权信息字体格式 */
footer > div {
	margin-top: 15px;
	padding-top: 23px;
	margin-left: 40%;
	font-weight: bold;
	font-size: 12px;
}

/* 头尾字体格式 */
header,
footer nav ol li,
a {
	color: #999999;
	font-size: 12px;
}
